html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#back {
    position: absolute;
    bottom: 20px;
}

#back i {
    background-image: url(app/public/img/back.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 25px;
    padding-left: 25px;
    padding-top: 2px;
    margin: 10px;
    cursor: pointer;
    background-size: 20px;
}

#menu {
    padding: 0.8em;
    max-width: 250px;
}

#sliceContainer {
    width: inherit;
}

#sliceOptions {
    margin: 0 15px;
}

#sliceOptions>button {
    margin-bottom: 15px;
}

#sliceContainer {
    max-width: 228px;
}
